// PRIMARY

$BrainFlix-Black: #323232; //Primary Text Color
$BrainFlix-Blue: #0095FF; // Primary CTA color. Active form field outline color
$Silver: #AFAFAF; // Secondary text color. Text label color
$White: #FFF; // Background color. CTA text color

// SECONDARY

$BrainFlix-DarkBlack: #000; // Video player components
$BrainFlix-DarkBlue: #0065AD; // CTA hover state
$Mercury: #E1E1E1; // Divider line. Form field outline color
$Alablaster: #FAFAFA; // Form field background color