@use '../../Styles/partials/colors' as *;
@use '../../Styles/partials/fonts' as *;
@use '../../Styles/partials/mixins' as *;

.video__list-video{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 18rem;

    @include tablet{
        width: 20rem;
    }

    @include desktop{
        margin-bottom: .5rem;
    }

    &-thumbnail{
        width: 6.3rem;
        height: 3.7rem;
        object-fit: cover;
        border-radius: 4px;
        background: $Mercury;
        margin: 1rem 1rem 0 0;

        @include desktop{
            height: 4rem;
        }
    }

    &-text{
        display: flex;
        flex-direction: column;
        width: 10rem;

        @include tablet{
            width: 12rem;
        }
    }

    &-title{
        font-size: .801rem;

        @include tablet{
            font-size: .87rem;
        }
    }

    &-channel{
        @extend .video__list-video-title
    }
}
.video-link{
    text-decoration: none;
    color: $BrainFlix-Black;
}