@use "../../Styles/partials/colors" as *;
@use "../../Styles/partials/fonts" as *;
@use "../../Styles/partials/mixins" as *;

.comments__form {
    display: flex;
    flex-direction: column;

    &-user {
        display: flex;
        padding-bottom: 1rem;
        border-bottom: 1px solid $Mercury;

        @include tablet {
            padding-bottom: 1.5rem;
        }

        @include tablet {
            padding-right: 1.5rem;
        }

        &-pfp {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            margin-top: 1.5rem;
            object-fit: cover;

            @include tablet {
                margin-top: 1.3rem;
            }
        }
        &-text {
            display: flex;
            flex-direction: column;
            width: 15rem;
            padding-left: 1rem;
            flex-grow: 1;

            &--container {
                @include tablet {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        &-title {
            font-size: 0.75rem;
            color: $Silver;
            font-weight: 700;
            margin-bottom: 0.37rem;
        }

        &-textarea {
            margin-bottom: 0.8rem;
            border-radius: 4px;
            border: 1px solid $Mercury;
            font-family: Avenir Next;
            padding: 0.7rem;
            resize: none;
            height: 5rem;
            background-color: $Alablaster;

            @include tablet {
                height: 2.5rem;
                width: 32rem;
                margin-bottom: 0;
            }
        }

        &-textarea::placeholder {
            color: black;
        }

        &-button {
            align-self: center;
            width: 100%;
            padding: 0.65rem;
            border: none;
            border-radius: 4px;
            background-color: $BrainFlix-Blue;
            background-image: url(../../Assets/Icons/add_comment.svg);
            background-repeat: no-repeat;
            background-position: left;
            background-position-x: 5px;
            background-size: 1.1rem;
            color: $White;
            font-size: 0.75rem;
            font-weight: 700;
            text-decoration: none;
            text-align: center;

            @include tablet {
                width: 10rem;
                margin-left: 1.5rem;
                height: 2.5rem;
            }
        }
    }
}
